@font-face {
    font-family: 'Ruthligos';
    src: url('/fonts/Ruthligos.ttf') format('truetype'),
         url('/fonts/Ruthligos.woff') format('woff'),
         url('/fonts/Ruthligos.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Candara';
    src: url('/fonts/candara.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #000;
    

}
.header {
    width: 100%;
    height: 10vh;
}
.mpage {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    
}
.hpage {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hpage h1 {
    color: #fff;
    font-family: 'Ruthligos', sans-serif;
    font-weight: bold;
    font-size: 70px;
}
.hpage h2 {
    color: #fff;
    font-family: 'Candara' , sans-serif;
    font-size: 50px;
    /* margin-top: -400px; */
    z-index: 100;
    position: absolute;
    top: 30vh;
}
.hpage p {
    color: #fff;
    font-family: 'Candara' , sans-serif;

}
.hpage img {
    width: 400px;
    margin-top: -70px;
    /* margin-left: 20px ; */
    border-radius: 10px;
    opacity: 0.95;
}
