@font-face {
    font-family: 'Ruthligos';
    src: url('/fonts/Ruthligos.ttf') format('truetype'),
         url('/fonts/Ruthligos.woff') format('woff'),
         url('/fonts/Ruthligos.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Candara';
    src: url('/fonts/candara.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #000;
    font-family: 'Poppins';
    color: #fff;
    

}
.header {
    width: 100%;
    height: 10vh;
}

.mainPage {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerPage {
    margin: 0;
    padding: 0;
    display: inline-block;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    /* background: #61bd65; */
}
.innerOne {
    opacity: 0;
    transform: translateY(-100px);
    transition: transform 1s ease, opacity 1s ease; 
    width: 100%;
    text-align: center;
    /* border: 2px solid red; */
    position: absolute;
    top: 8.5%;
}
.innerOne.show {
    opacity: 1; /* عنصر قابل مشاهده می‌شود */
    transform: translateY(0); /* به مکان اصلی بازمی‌گردد */
}
.innerOne h1 {
    font-size: 5.6rem;
    padding: 0;
    margin: 0;
    line-height: 1;
    font-family: "Italianno", sans-serif;
    color: #ebebeb;
    /* -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000; */
    


}
.innerTwo {
    width: 100%;
    position: absolute;
    top: 17%;
    /* border: 2px solid red; */
    text-align: center;
    z-index: 100;
    
}
.innerTwo h2 {
    font-family: 'Poppins' , sans-serif;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    line-height: 1;
    color: #fff; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.innerImg {
    width: 100%;
    /* border: 4px solid ; */
    position: absolute;
    display: flex;
    justify-content: center;
    top: 20%;
    
}
.innerImg img:hover {
    box-shadow: 0 0 80px 20px rgba(0, 0, 255, 0.5), 0 0 60px 15px rgba(255, 0, 0, 0.5);
}
.innerImg img {
    width: 400px;
    border-radius: 5px;
    transition: box-shadow 0.9s ease;
    box-shadow: 0 0 200px 1px rgba(0, 0, 255, 0.233);


}

.innerThree {
    width: 100%;
    position: absolute;
    bottom: 1%;
    /* border: 2px solid red; */
    text-align: center;
    padding: 0;
    margin: 0;
}

.innerThree h4 {
    font-family: 'Poppins' , sans-serif;
    color: #fff;
    padding: 0;
    margin: 0;
    line-height: 1; /* یا به اندازه‌ای که دلخواه شماست */
}

/* .container {
    padding: 2rem;
}
.slider-wrapper {
    position: relative;
    max-width: 75rem;
    margin: 0 auto;
}
.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x:hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}
.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover {
    opacity: 1;
    background-color: blue;
} */


.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem
}
.about-me-image  img{
    max-width: 15rem;
    border-radius: 15px;
}
.about-me-image  img:hover {
    scale: 1.1;
    transition: ease-in-out 200ms ;
    transform: rotate(5deg);
}
.about-me-text {
    padding: 2rem 6rem;
    font-size: 1.7rem;
    font-family: Poppins;
    color: #fff;
    text-align: center;
}

/* height is 100% */
/* 
.container {
    padding: 2rem;
}

.slider-wrapper {
    position: relative;
    max-width: 75rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slide {
    position: relative;
    flex: 1 0 100%;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.slide h1 {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0;
    text-align: center;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 1rem;
    height: 1rem;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
    background-color: blue;
} */


/* height is 80% */

.container {
    padding: 2rem;
    width: 100%;
    height: 100vh; /* Adjust container height to 75% of the viewport height */
}

.slider-wrapper {
    position: relative;
    /* max-width: 75rem; */
    width: 100%;
    margin: 0 auto;
    height: 80%; /* Make sure the slider wrapper takes the full height of the container */
}

.slider {
    width: 100%;
    display: flex;
    height: 100%; /* Ensure the slider takes the full height of the slider wrapper */
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slide {
    position: relative;
    flex: 1 0 100%;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure each slide takes the full height of the slider */
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.slide h1 {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0;
    text-align: center;
    opacity: 0.8;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
    background-color: blue;
}


footer {
    padding: 1.5rem;
    color: #fff;
    font-family: Poppins;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}
footer a {
    color: aqua;
    text-decoration: none;
}

.youtube {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem ;
}

.youtube .yimg  img{
    width: 100vw;
    height: 90vh;
}

.smedia {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem ;
}

.bmedia {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
}
button {
    padding: 0.5rem 0.7rem;
    background: #999;
    border-radius: 9px;
    width: 9vw;
}
.mail {
    width: 100%;
    height: 15vh;
    padding: 5rem;
    display: flex;
    justify-content: space-around;
}
.isvg {
    display: flex;
    justify-content: space-around;
}