@font-face {
    font-family: 'Ruthligos';
    src: url('/fonts/Ruthligos.ttf') format('truetype'),
         url('/fonts/Ruthligos.woff') format('woff'),
         url('/fonts/Ruthligos.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Candara';
    src: url('/fonts/candara.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #000;
    

}
.header {
    width: 100%;
    height: 10vh;
}
.mpage {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    
}
.hpage {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h01 {
    color: #fff;
    /* font-family: 'Ruthligos', sans-serif; */
    font-family: "Italianno", sans-serif;
    font-weight: bold;
    font-size: 100px;
    padding-bottom: 10px;
}
.hpage h2 {
    color: #fff;
    font-family: 'Poppins' , sans-serif;
    font-size: 50px;
    /* margin-top: -400px; */
    z-index: 100;
    position: absolute;
    top: 29vh;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.myp {
    padding-top: 5px;
    padding-bottom: 5px;
}
.myp p {
    color: #fff;
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;

}
.hpage img {
    width: 400px;
    margin-top: -70px;
    /* margin-left: 20px ; */
    border-radius: 10px;
    opacity: 0.95;
}
